@import url('https://fonts.cdnfonts.com/css/adam-warren-pro');
 
* {
	margin: 0;
	padding: 0;
	user-select: none;
}
 
html {
	font-family: 'Adam Warren pro', sans-serif;
	background-color: transparent;
}
 
.container {
	background-color: transparent;
	/* box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.07); */
	height: 23.986vw;
	width: 100%;
	border-radius: 0vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0.523vw 0.872vw;
	display: flex;
	border: 0vw solid rgba(0, 0, 0, 0.2);
  font-size: 0.785vw;
 
 
 
}
 
 
.sequencer {
	display: flex;
	height: 100%;
	width: 100%;
	margin-top: 4.361vw;
}
 
#p0 {
	margin-top: 4.754vw;
	width: 6.978vw;
	padding-left: 0.087vw;
	padding-right: 1.134vw;
}
 
.drum-name {
	font-weight: bold;
	font-size: 1.526vw;
	letter-spacing: 0 vw;
	line-height: 3.489vw;
	padding: 0vw 1.57vw 0vw 0.698vw;
	border-radius: 0vw;
	margin-bottom: 0.785vw;
	background-color: #fff;
	color: rgba(0, 0, 0, );
	box-shadow: -0.218vw 0.436vw 0vw rgba(0, 0, 0, 1);
	border: 0.174vw solid rgba(0, 0, 0, 1);
}
 
#controls {
	position: absolute;
	left: 0.872vw;
	right: 0.872vw;
	top: 0vw;
}
 
#controls-left-side {
	float: left;
	height: 100%;
}
 
#controls-right-side {
	float: right;
	height: 100%;
}
 
.sampler {
	display: inline;
	padding: 1.221vw 2.006vw;
	border-radius: 0vw;
	line-height: 4.361vw;
	text-align: center;
	background-color: #fff;
	color: rgba(0, 0, 0, 0.6);
	box-shadow: -0.218vw 0.436vw 0vw rgba(0, 0, 0, 1);
	border: 0.174vw solid rgba(0, 0, 0, 1);
	position: relative;
  font-size: 1.526vw;
  color: black;
  margin-right: 0.436vw;
}
 
.pressed {
	box-shadow: -0.218vw 0.654vw 0vw rgba(0, 0, 0, 1);
	top: 0.087vw;
	background-color: rgba(0, 0, 0, 0);
}
 
#bpm {
	color: rgba(0, 0, 0);
	line-height: 5.233vw;
	position: absolute;
	top: 1.09vw;
	right: 19.625vw;
  font-size: 1.526vw;
}
 
#bpm-slider {
	position: absolute;
	top: 0.872vw;
	right: 20.933vw;
	width: 7.85vw;
  background-color: rgba(0, 0, 0,   0.0);
  cursor: pointer;
}
 
#swing {
	color: rgba(0, 0, 0);
	line-height: 5.233vw;
	position: absolute;
	top: 1.09vw;
	right: 8.722vw;
  font-size: 1.526vw;
}
 
#swing-slider {
	position: absolute;
	top: 0.872vw;
	right: 8.722vw;
	width: 7.85vw;
  background-color: rgba(0, 0, 0,   0.0);
  cursor: pointer;
}
 
#controls p {
	display: inline;
	font-size: 1.396vw;
	position: relative;
	top: -0.174vw;
 
}
 
#clear-track {
	font-weight: bold;
	color: rgba(0, 0, 0,);
	padding: 1.177vw 1.047vw;
	border-radius: 0vw;
	box-shadow: -0.218vw 0.436vw 0vw rgba(0, 0, 0, 1);
	border: 0.174vw solid rgba(0, 0, 0, 1);
	margin-left: 1.57vw;
	margin-right: 0.087vw;
	position: relative;
  font-size: 1.526vw;
	-webkit-user-select: none;
  background-color: white;
}
 
#clear-track:hover {
	cursor: pointer;
	border: 0.174vw solid rgba(0, 0, 0, 1);
	box-shadow: -0.268vw 0.654vw 0vw rgba(0, 0, 0, 1);
  top: 0.087vw;
}
 
#clear-track:active {
	top: 0vw;
	box-shadow: -0.218vw 0.436vw 0vw rgba(0, 0, 0, 1);
}
 
.d1,.d2,.d3,.d4,.d5,.d6,.d7,.d8,.d9,.d10,.d11,.d12,.d13,.d14,.d15,.d16{
  background-color: rgba(0, 0, 0, 0);
	height: 100%;
	width: 25%;
	margin: 0.218vw 0.087vw;
	display: inline-block;
}
 
.sample {
	background-color: #B57C47;
	margin: 0.174vw 0vw;
	display: block;
	height: 4.361vw;
	border-radius: 0.262vw;
	border: 0vw solid rgba(0, 0, 0,   0);
	box-sizing: border-box;
  	border-radius: 0.349vw;
}
 
.sample:hover {
	cursor: pointer;
}
 
.row-highlight {
	background-color: #663811;
}
 
.item-selected {
	background-color: #602C29;
}
 
#d-split {
	margin-right: 0.872vw;
 
}
 
input[type=range] {
	height: 2.181vw;
	-webkit-appearance: none;
	margin: 0.436vw 0;
	width: 100%;
}
 
input[type=range]:focus {
	outline: none;
}
 
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 0.872vw;
	cursor: pointer;
	box-shadow: 0vw 0vw 0vw #000000;
	background: white;
	border-radius: 0;
	border: 0.131vw solid black;
  	box-shadow: -0.218vw 0.218vw  0vw rgba(0, 0, 0, 1);
}
 
input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #707070;
	border: 0.044vw solid #A3A3A3;
	height: 1.832vw;
	width: 0.654vw;
	border-radius: 0 px;
	background: white;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -0.523vw;
  border: 0.131vw solid black;
  b
}
 
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #EDEDED;
}
 
input[type=range]::-moz-range-track {
	width: 100%;
	height: 0.305vw;
	cursor: pointer;
	background: #EDEDED;
	border-radius: 2.181vw;
	border: 0.044vw solid #C2C2C2;
}
 
input[type=range]::-moz-range-thumb {
	border: 1px solid #A3A3A3;
	height: 1.832vw;
	width: 0.567vw;
	border-radius: 0.741vw;
	background: #FFFFFF;
	cursor: pointer;
}
 
input[type=range]::-ms-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
 
input[type=range]::-ms-fill-lower {
	background: #EDEDED;
	border: 0.044vw solid #C2C2C2;
	border-radius: 0.436vw;
}
 
input[type=range]::-ms-fill-upper {
	background: #EDEDED;
	border: 0.044vw solid #C2C2C2;
	border-radius: 0.436vw;
}
 
input[type=range]::-ms-thumb {
	margin-top: 0.044vw;
	border: 0.044vw solid #A3A3A3;
	height: 1.875vw;
	width: 0.654vw;
	border-radius: 2.181vw;
	background: #FFFFFF;
	cursor: pointer;
}
 
input[type=range]:focus::-ms-fill-lower {
	background: #EDEDED;
}
 
input[type=range]:focus::-ms-fill-upper {
	background: #EDEDED;
